DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ims_g6
DB_PORT=3306
JWT_SECRET=your_jwt_secret
PORT=5001
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=false
SMTP_USER=lyden.chai@gmail.com
SMTP_FROM=lyden.chai@gmail.com
SMTP_PASS=ascugdtbadryrals
COMPANY_NAME=Stockify Inventory Management System